#searchbar {
  background-image: url("../../../assets/search-icon.png");
  background-position: 10px 10px;
  background-size: 20px;
  background-repeat: no-repeat;
  width: 900px;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}
